In [117]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [118]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [119]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [120]:
# Extract variables and target
X = train.iloc[:, 2:]
y = train.iloc[:, 1]

In [121]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.33)

In [122]:
X_train.shape

(596, 10)

In [123]:
X_train.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
718,3,"McEvoy, Mr. Michael",male,NaN,0,0,36568,15.5000,NaN,Q
685,2,"Laroche, Mr. Joseph Philippe Lemercier",male,25.0,1,2,SC/Paris 2123,41.5792,NaN,C
73,3,"Chronopoulos, Mr. Apostolos",male,26.0,1,0,2680,14.4542,NaN,C
882,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S

In [124]:
X_train['Age']

6      54.0
718     NaN
685    25.0
73     26.0
882    22.0
       ...
106    21.0
270     NaN
860    41.0
435    14.0
102    21.0
Name: Age, Length: 596, dtype: float64

In [125]:
X_train['Age'] = X_train['Age'].fillna(X_train['Age'].mean())
X_test['Age'] = X_test['Age'].fillna(X_train['Age'].mean())

C:\Users\chosb\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\chosb\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [126]:
# One hot Encode Sex
sex_encoding = pd.get_dummies(X_train['Sex'])
X_train = pd.concat([X_train, sex_encoding], axis=1, sort=False)
X_train = X_train.drop(['Sex'], axis=1)

sex_encoding = pd.get_dummies(X_test['Sex'])
X_test = pd.concat([X_test, sex_encoding], axis=1, sort=False)
X_test = X_test.drop(['Sex'], axis=1)

In [127]:
X_train.head()

,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male
6,1,"McCarthy, Mr. Timothy J",54.000000,0,0,17463,51.8625,E46,S,0,1
718,3,"McEvoy, Mr. Michael",29.525983,0,0,36568,15.5000,NaN,Q,0,1
685,2,"Laroche, Mr. Joseph Philippe Lemercier",25.000000,1,2,SC/Paris 2123,41.5792,NaN,C,0,1
73,3,"Chronopoulos, Mr. Apostolos",26.000000,1,0,2680,14.4542,NaN,C,0,1
882,3,"Dahlberg, Miss. Gerda Ulrika",22.000000,0,0,7552,10.5167,NaN,S,1,0

In [128]:
X_train = X_train.select_dtypes('number')
X_test = X_test.select_dtypes('number')

In [134]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0).fit(X_train, y_train)

C:\Users\chosb\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [136]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

preds = clf.predict(X_train)
print("Training Accuracy: ", accuracy_score(y_train, preds))
print("Training AUC: ", roc_auc_score(y_train, preds))

Training Accuracy:  0.7919463087248322
Training AUC:  0.7664884135472371

In [137]:
preds = clf.predict(X_test)
print("Testing Accuracy: ", accuracy_score(y_test, preds))
print("Testing AUC: ", roc_auc_score(y_test, preds))

Testing Accuracy:  0.8203389830508474
Testing AUC:  0.8040476190476191